[Desktop Entry]
Name=Kapymine Launcher
Exec=$HOME/Kapymine-Launcher/kapymine-launcher.sh
Type=Application
Terminal=false
Categories=Game;ActionGame;AdventureGame;Simulation;
Comment=Minecraft-unofficial-launcher
Icon=kapymine
StartupWMClass=MinecraftLauncher

