[Desktop Entry]
Name=Kapymine Launcher
Exec=sh -c '"$HOME/kapymine-launcher/kapymine-launcher.sh"'
Type=Application
Terminal=false
Categories=Game;ActionGame;AdventureGame;Simulation;
Comment=Minecraft-unofficial-launcher
Icon=kapymine
StartupWMClass=MinecraftLauncher
Keywords=minecraft;launcher;
